<div class="row" style="margin: 0px;">
  <div class="container">
    <div style="padding: 40px 0px 30px 0px;">
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a href="#popular" class="nav-link active" data-toggle="tab">POPULAR</a>
        </li>
        <li class="nav-item">
          <a href="#latest" class="nav-link" data-toggle="tab">LATEST</a>
        </li>
        <li class="nav-item">
          <a href="#editors_choice" class="nav-link" data-toggle="tab">EDITOR'S CHOICE</a>
        </li>
      </ul>
      <div class="tab-content">
        <div id="popular" class="tab-pane active">
          <div style="margin-top: 20px; width: 100%;">
            <% @photo_ranks_pop.each do |photo|%>
            <div class="image-box" style="width: 33%; padding: 10px;">
              <div class="image">
                <%=link_to photo_path(photo) do%>
                  <%= image_tag photo.image_id.to_s %>
                <% end %>
              </div>
            </div>
            <% end %>
          </div>
        </div>
        <div id="latest" class="tab-pane">
          <div style="margin-top: 20px; width: 100%;">
            <% @photo_ranks_latest.each do |photo|%>
            <div class="image-box" style="width: 33%; padding: 10px;">
              <div class="image">
                <%=link_to photo_path(photo) do%>
                  <%= image_tag photo.image_id.to_s %>
                <% end %>
              </div>
            </div>
            <% end %>
          </div>
        </div>
        <div id="editors_choice" class="tab-pane">
          <img src="images/photo3.jpg" class="img-fluid" alt=""/>
        </div>
      </div>
    </div>
    <div style="margin-top: 20px; width: 100%;">
      <% @photo_ranks_latest.each do |photo|%>
      <div class="image-box" style="width: 33%; padding: 10px;">
        <div class="image">
          <%=link_to photo_path(photo) do%>
            <%= image_tag photo.image_id.to_s %>
          <% end %>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>