<div class="container">
  <%= form_for(@photo, url: photos_path) do |f| %>
    <div class="row" style="margin-top: 20px;">
      <div class="col-6">
        <div class="image-preview">
          <% if @photo.image_id.present? %>
            <%= image_tag @photo.image_id, id: :img_prev %>
          <% else %>
            <%= image_tag "no-img.jpg", id: :img_prev %>
          <% end %>
        </div>
        <%= f.file_field :image_id, id: :user_img %>
      </div>
      <div class="col-6">
        <div class="form-group img-upload">
          <%= f.label :title, "TITLE" %>
          <%= f.text_field :title, class:"form-control", placeholder:"Title" %>
          <%= f.label :caption, "CAPTION" %>
          <%= f.text_area :caption, class:"form-control", rows:"2", placeholder:"impression here" %>
          <%= f.submit "UPLOAD", class:"btn btn-block" %>
        </div>
      </div>
    </div>
  <% end %>
</div>
<script type="text/javascript">
  $(function() {
    function readURL(input) {
        if (input.files && input.files[0]) {
        var reader = new FileReader();
        reader.onload = function (e) {
    $('#img_prev').attr('src', e.target.result);
        }
        reader.readAsDataURL(input.files[0]);
        }
    }
    $("#user_img").change(function(){
        readURL(this);
    });
  });
</script>