<div class="container">
  <%= flash[:alert] %>
  <%= form_for(@photo, url: photos_path) do |f| %>
    <div class="row" style="margin-top: 20px;">
      <div class="col-6">
        <div class="image-preview">
          <% if @photo.image_id.present? %>
            <%= image_tag @photo.image_id, id: :img_prev %>
          <% else %>
            <%= image_tag "no-img.jpg", id: :img_prev %>
          <% end %>
        </div>
        <%= f.file_field :image_id, id: :user_img %>
      </div>
      <div class="col-6">
        <div class="form-group img-upload">
          <div class="camera-maker-area">
            <%= f.label :camera_maker_id, "CAMERA MAKER" %>
            <% camera_maker_options = CameraMaker.order(:id).map { |cm| [cm.name, cm.id, data: {children_path: camera_maker_cameras_path(cm) }] } %>
            <%= f.select :camera_maker_id, options_for_select(camera_maker_options), { selected: @photo.camera_maker_id, prompt: '選択して下さい', class: 'select_parent' } %>
          </div>
          <div class="camera-area">
            <%= f.label :camera_id, "CAMERA" %>
            <% cameras = @photo.camera_maker.try(:cameras) || [] %>
            <% camera_options = cameras.map{|c| [c.name, c.id]} %>
            <%= f.select :camera_id, camera_options, {include_blank: true}, class: 'select-children' %>
          </div>
          <%= f.label :title, "TITLE" %>
          <%= f.text_field :title, class:"form-control", placeholder:"Title" %>
          <%= f.label :caption, "CAPTION" %>
          <%= f.text_area :caption, class:"form-control", rows:"2", placeholder:"impression here" %>
          <%= f.submit "UPLOAD", class:"btn btn-block" %>
          <p style="font-size: 50%; color: grey;">投稿は数秒かかります</p>
        </div>
      </div>
    </div>
  <% end %>
</div>
