<div class='row' style="background-color: #333333; padding: 10px 0px; margin: 0px 0px 20px 0px;">
  <div class='photo_view'>
    <%=  link_to @photo.image_id.url, 'data-lightbox': @photo.image_id do %>
      <%= image_tag @photo.image_id.to_s %>
    <% end %>
  </div>
</div>
<div class="container">
  <div class='row'>
    <div class="col-6">
      <div class="photo-info1">
        <ul>
          <li><h2><%= @photo.title %></h2></li>
          <li><%= @photo.caption %></li>
          <li><strong><%= @photo.user.name %></strong></li>
        </ul>
      </div>
      <div class="photo-info2">
        <table>
          <tr>
            <td>BODY</td>
            <td>
              <% if @photo.camera.present? %>
                <%= link_to @photo.camera do%>
                  <%= @photo.camera_maker.name %>　<%= @photo.camera.name %>
                <% end %>
              <% end %>
            </td>
          </tr>
          <tr>
            <td>LENS</td>
            <td>AF-S NIKKOR 70-200 f2.8g Ⅱ</td>
          </tr>
          <tr>
            <td>　</td>
            <td>　</td>
          </tr>
          <tr>
            <td>ISO</td>
            <td><%= @exif.iso_speed_ratings %></td>
          </tr>
          <tr>
            <td>SHUTTER SPEED</td>
            <td><%= @exif.exposure_time.to_s %>s</td>
          </tr>
          <tr>
            <td>F-NUMBER</td>
            <td><%= @exif.f_number.to_f.to_s %></td>
          </tr>
          <tr>
            <td>FOCAL LENGTH</td>
            <td><%= @exif.focal_length.to_i %>mm</td>
          </tr>
          <tr>
            <td>WHITE BALANCE</td>
            <td><%= @exif.white_balance %></td>
          </tr>
          <tr>
            <td>SIZE</td>
            <td><%= @exif.pixel_x_dimension %> x <%= @exif.pixel_y_dimension %></td>
          </tr>
          <tr>
            <td>SHOOTING DATE</td>
            <td>
              <% if @exif.date_time_original %>
                <%= @exif.date_time_original.strftime("%Y年%m月%d日 %-H時%M分") %>
              <% else %>
                <p></p>
              <% end %>
              </td>
          </tr>
        </table>
      </div>
    </div>
    <div class="col-6">
      <div class="like-pv">
        <% if user_signed_in? %>
          <% if @photo.user_id == current_user.id %>
            <%= link_to 'DELETE', photo_path(@photo),  method: :delete, data: { confirm: 'Do you really want to delete？' }, class: "btn btn-danger badge-pill" %>
          <% end %>
          <strong><%= @photo.accesses.first.number %> Views</strong>
          <% if @photo.liked_by?(current_user) %>
            <li>
              <%= link_to photo_likes_path(@photo), method: :delete do %>
              <i class="fa fa-heart" aria-hidden="true" style="color: red;"></i>
              <%= @photo.likes.count %>
              <% end %>
            </li>
          <% else %>
            <li>
              <%= link_to photo_likes_path(@photo), method: :post do %>
              <i class="fa fa-heart-o" aria-hidden="true"></i>
              <%= @photo.likes.count %>
              <% end %>
            </li>
          <% end %>
        <% else %>
          <strong><%= @photo.accesses.first.number %> Views</strong>
          <li>
            <i class="fa fa-heart-o" aria-hidden="true"></i>
            <%= @photo.likes.count %>
          </li>
        <% end %>
      </div>
      <div class="comment-section">
        <div class="comment-index">
          <strong><%= @photo.comments.count %> Comments</strong>
          <table>
            <% @photo.comments.each do |comment|%>
            <tr>
              <td rowspan="2"><%= image_tag comment.user.image_id.to_s %></td>
              <td><%= comment.comment %></td>
              <% if user_signed_in? %>
                <% if comment.user_id == current_user.id %>
                  <td><%= link_to 'DELETE', photo_comment_path(comment.photo.id, comment.id),  method: :delete, data: { confirm: 'Do you really want to delete？' }, class: "btn btn-sm btn-danger badge-pill" %></td>
                <% else %>
                  <td>　</td>
                <% end %>
              <% else %>
                <td>　</td>
              <% end %>
            </tr>
            <tr>
              <td><%= comment.user.name %></td>
              <td><%= comment.created_at.strftime('%Y/%m/%d') %></td>
            </tr>
            <% end %>
          </table>
        </div>
        <div class="comment-submit">
          <%= form_for [@photo, @comment] do |f| %>
            <%= f.text_area :comment, rows:'2', class: "form-control",placeholder: "comments here" %>
            <%= f.submit "SEND", class: "btn btn-sm btn-outline-dark badge-pill comment-btn" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
